pycache/
.py[cod]
$py.class


venv/
.env/
.env.


.DS_Store
Thumbs.db


.vscode/
.idea/


.ipynb_checkpoints/

uploads/

results/

modules/kidney/weights/.pt
modules/kidney/weights/*.pth

data/
*.nii
*.nii.gz

*.log

*.tmp
*.swp
*.swo

modules/kidney/__pycache__/